# BEGIN: server.conf

[clustering]
mode = manager
multisite = {{ multisite }}
replication_factor = {{ replication_factor }}
search_factor = {{ search_factor }}
cluster_name = {{ cluster_name }}

# END: server.conf
